<div class="center jumbotron">
  <h1 class="container">Welcome to the HomeWorker App</h1>
  <p class="container">This is the home page of application.</p><br>
  <%= link_to "Sign up",  static_pages_signup_path , class: "btn btn-lg btn-primary" %><prev>
  
</div>

<div>
  


