<div class="center jumbotron">
  <h4>Please Select User</h4>

</div>

<div>
  <nav> 
    <ul>
      <li><%= link_to "Admin",  new_admin_session_path  %></li>
      <li><%= link_to "Customer",  new_customer_path  %></li>
      <li><%= link_to "Cleaner",  new_cleaner_path  %></li> 
    </ul>
</div>