<div class="center jumbotron">
  <h1>Please Select User</h1>

</div>

<div>
  <nav> 
    <ul>
      <li><%= link_to "Customer", new_customer_path %></li>
      <li><%= link_to "Cleaner",  new_cleaner_path  %></li> 
    </ul>
</div>